@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #272a31;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: url("../images/mobile_intro_bg.png") no-repeat;
  background-position: 60% -9%;
}

/* Header section */

.header {
  padding: 25px;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(53, 52, 52);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.menu-bar li {
  padding: 20px 0;
}

.menu-bar .nav-link {
  font-size: 20px;
  padding: 0 30px;
  color: white;
}

.hidden {
  display: none;
}

.nav .menu-desktop {
  display: none;
}

/* logo */

.nav .logo {
  display: none;
}

.menu-bar .logo-mobile {
  color: white;
  position: absolute;
  left: 145px;
  top: 50px;
}

.logo-mobile h2 {
  color: white;
}

.logo-mobile span {
  color: #ec5242;
}

.toggle-menu .fa-bars {
  position: absolute;
  left: 22px;
  font-size: 40px;
  color: #272a31;
}

.fa-window-close {
  display: block;
  width: 50px;
  align-self: flex-end;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0.5em;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.top-bar {
  display: none;
}

/* Hero Section */

.hero-section {
  padding: 15px;
  margin: 0 auto 25px auto;
}

.hero-section .hero-header h1 {
  color: #cc1102;
  font-size: 32px;
  font-family: "COCOGOOSE", sans-serif;
  line-height: 40px;
  text-align: center;
}

.hero-section .hero-span {
  font-size: 25px;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  line-height: 50px;
  color: #ec5242;
  text-align: center;
}

.hero-section .hero-description {
  margin-top: 1.5em;
  background-color: white;
  border: 1px solid #d9dbdf;
}

.footer-flex p {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: #313030;
}

.footer-flex img {
  display: none;
  height: 5em;
}

.event-item1 p {
  color: white;
  padding: 15px;
  font-weight: 600;
}

.event-item2 p {
  color: white;
  padding: 15px;
  font-weight: 600;
}

.hero-section .hero-description p {
  font-size: 13px;
  line-height: 20px;
  padding: 10px;
  text-align: center;
}

.contact {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  line-height: 18px;
  margin-top: 1.5em;
}

.hero-section .email {
  text-decoration: underline;
  font-weight: bold;
  font-size: 10px;
}

/* info section */

.info {
  background-color: white;
  padding: 20px 20px 50px 20px;
}

.info .title {
  text-align: center;
  padding: 20px 20px 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

.info .line {
  width: 30px;
  height: 2px;
  margin: 0 auto;
  background-color: #ec5242;
}

.info .mission-wrapper {
  border: 1px solid #d9dbdf;
  margin-top: 15px;
}

.info .mission-wrapper p {
  font-size: 13px;
  padding: 10px;
  text-align: center;
  line-height: 18px;
}

/* Past event section */

.past-event {
  background-color: white;
}

.past-event .title {
  text-align: center;
  padding: 20px 20px 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

.past-event .line {
  width: 30px;
  height: 2px;
  margin: 0 auto;
  background-color: #ec5242;
}

.past-event .desc {
  padding: 20px;
  font-size: 13px;
  line-height: 22px;
}

.event-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 15px;
  padding: 15px 0;
}

.event-flex .event-item1 {
  background: linear-gradient(0deg, rgba(236, 83, 66, 0.747), rgba(236, 83, 66, 0.733)), url("../images/conference-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 15em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.event-flex .event-item2 {
  background: linear-gradient(0deg, rgba(236, 83, 66, 0.747), rgba(236, 83, 66, 0.733)), url(../images/conference-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 15em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.event-item1 h2 {
  color: white;
  font-size: 35px;
  font-weight: 900;
}

.event-item2 h2 {
  color: white;
  font-size: 35px;
  font-weight: 900;
}

/* Partners logo */

.partner .title {
  color: #7c7c80;
  font-weight: 500;
  font-size: 25px;
  margin-top: 20px;
}

.partner .line {
  width: 50px;
  height: 2px;
  margin: 15px 0;
  background-color: #ec5242;
}

.partner {
  width: 100%;
  height: 40vh;
  background-color: #272a31;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 25px auto;
  column-gap: 30px;
  row-gap: 20px;
}

.logo-img {
  max-width: 80px;
  max-height: 30px;
}

.featured-mentor-section {
  display: none;
}

/* footer */

.footer-flex {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px;
  min-height: 7em;
  column-gap: 20px;
}

.logo span {
  font-family: "COCOGOOSE", sans-serif;
  color: #ec5242;
  font-size: 22px;
}


/* table */
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) { background-color: #f2f2f2; }

#customers tr:hover { background-color: #ddd; }

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

/* Media Querie */

@media (min-width: 960px) {
  body {
    background: none;
  }

  .toggle-menu .fa-bars {
    display: none;
  }

  /* Header */

  .header {
    padding: 0;
  }

  .header .top-menu {
    background-color: #272a31;
    padding: 3px 175px;
    visibility: visible;
    height: 2.5em;
  }

  .nav .menu-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .menu-desktop li {
    margin: 0 8px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #344563;
  }

  .menu-desktop li .active {
    color: #ec5242;
  }

  .top-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    column-gap: 15px;
  }

  .header .top-bar {
    background-color: #272a31;
    padding: 8px 175px;
    height: 2.5em;
    display: block;
  }

  .top-bar .fa-twitter,
  .fa-facebook-f {
    color: white;
    font-size: 14px;
  }

  .top-bar a {
    color: white;
    font-size: 14px;
  }

  .btn-menu,
  .btn-close {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 20px 170px;
    box-shadow: 5px 5px 50px #aaa;
  }

  .footer-flex a {
    color: white;
  }

  .nav ul li:last-child a {
    border: 3px solid #ec5242;
    padding: 10px;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav .logo {
    display: block;
  }

  .logo img {
    width: 12rem;
  }

  .logo span {
    font-family: "COCOGOOSE", sans-serif;
    color: #ec5242;
    font-size: 22px;
  }

  /* Hero Section */

  .hero-section {
    background: linear-gradient(rgba(233, 233, 233, 0.5), rgba(211, 211, 211, 0.5)), url("../images/about_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hero-header h1 {
    padding: 3em 12em 0 10em;
    text-transform: uppercase;
    text-align: center;
  }

  .hero-description {
    text-align: center;
    padding: 20px;
    margin: 0 20em;
  }

  .hero-description p {
    font-size: 18px !important;
    padding: 10px !important;
    line-height: 30px !important;
  }

  .contact {
    padding: 30px;
  }

  .info .title {
    font-size: 25px;
  }

  .info .mission-wrapper {
    text-align: center;
    padding: 5px;
    margin: 3em 20em;
    opacity: 0.7;
  }

  .footer-flex p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    color: white;
    text-align: left;
  }

  .info .mission-wrapper p {
    font-size: 18px;
    line-height: 30px;
  }

  .past-event .title {
    font-size: 25px;
  }

  .past-event .desc {
    font-size: 15px;
    padding: 15px 170px;
    line-height: 30px;
  }

  .past-event .agenda {
    padding: 15px 170px;
  }

  .past-event .event-flex {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin: 0 15em;
  }

  /* mentor section */

  .featured-mentor-section {
    display: none;
  }

  /* partner */

  .partner {
    display: none;
  }

  /* footer */

  footer {
    display: block;
    background-color: #272a31;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
  }

  .footer-flex {
    background-color: #272a31;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    min-height: 7em;
    column-gap: 50px;
    margin: 0 15em;
  }

  .footer-flex img {
    height: 5em;
    display: block;
  }

  .footer-flex .logo h2 {
    color: white;
  }

  /* table */

  #customers {
    margin: 15px 170px;
  }

  #customers .time {
    width: 15%;
  }

  #customers .topic .response {
    width: 50%;
  }

  #customers tr {
    line-height: 40px;
  }

  #customers td {
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .footer-logo img {
    width: 20rem;
  }

  .top-bar li {
    color: whitesmoke;
    font-size: 12px;
    padding: 0;
  }
}
