@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #272a31;
  text-decoration: none;
  list-style-type: none;
}

body {
  color: #fdfdfd;
}

/* Header section */

.header {
  padding: 15px;
}

.menu-bar {
  display: none;
  flex-direction: column;
  row-gap: 30px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(204, 203, 203);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.menu-bar li {
  padding: 20px 0;
  color: black;
}

.menu-bar .nav-link {
  font-size: 20px;
  padding: 0 30px;
  color: black;
}

.mobile-menu-bar .nav-link button{
  padding: 0.8rem;
  font-size: 0.9rem;
  margin-top: 1.5em;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  border: none;
  background: rgb(238,192,45);
}

.hidden {
  display: none;
}

.nav .menu-desktop {
  display: none;
}

/* logo */

.nav .logo {
  display: none;
}

.menu-bar .logo-mobile {
  color: white;
  position: absolute;
  left: 145px;
  top: 50px;
}

.logo-mobile h2 {
  color: white;
}

.logo-mobile span {
  color: #ec5242;
}

.logo-mobile img {
  width: 10rem;
}

.toggle-menu .fa-bars {
  position: absolute;
  right: 22px;
  top: 20px;
  font-size: 35px;
  color: #272a31;
}

.fa-window-close {
  display: block;
  width: 50px;
  align-self: flex-end;
  font-size: 40px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 0.5em;
  color: black;
  cursor: pointer;
}

.top-bar {
  display: none;
}

/* Hero Section */

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/conference-1024x554.jpg");
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 15px;
  margin: 0 auto 25px auto;
}

.hero-section .hero-header h1 {
  color: white;
  font-size: 15px;
  font-weight: 300;
  font-family: "COCOGOOSE", sans-serif;
  text-align: center;
  margin-top: 3rem;
}

.hero-section .hero-span {
  font-size: 25px;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  line-height: 50px;
  color: #ec5242;
  text-align: center;
}

.hero-section .hero-description {
  margin-top: 1.5em;
  background-color: white;
  border: 1px solid #d9dbdf;
}

.footer-flex p {
  font-size: 13.5px;
  line-height: 18px;
  font-weight: 600;
  padding: 0 0.5rem;
  color: white;
}

.footer-flex a {
  color: white;
}

.footer-flex img {
  display: none;
  height: 5em;
}

.event-item1 p {
  color: white;
  padding: 15px;
  font-weight: 600;
}

.event-item2 p {
  color: white;
  padding: 15px;
  font-weight: 600;
}

.hero-section .hero-description p {
  font-size: 13px;
  line-height: 20px;
  padding: 10px;
  text-align: center;
}

.contact {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  line-height: 18px;
  margin-top: 1.5em;
}

.hero-section .email {
  text-decoration: underline;
  font-weight: bold;
  font-size: 10px;
}

/* info section */

.info {
  background-color: white;
  margin: 2rem;
}

.info .title {
  text-align: center;
  padding: 20px 20px 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

.info .line {
  width: 30px;
  height: 2px;
  margin: 0 auto;
  background-color: #ec5242;
}

.info .mission-wrapper {
  border: 1px solid #d9dbdf;
  margin-top: 15px;
}

.info .mission-wrapper p {
  font-size: 13px;
  padding: 10px;
  text-align: center;
  line-height: 18px;
}

/* Past event section */

.past-event {
  background-color: white;
}

.past-event .title {
  text-align: center;
  padding: 20px 20px 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

.past-event .line {
  width: 30px;
  height: 2px;
  margin: 0 auto;
  background-color: #ec5242;
}

.past-event .desc {
  font-size: 13px;
  line-height: 22px;
}

.event-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 15px;
  padding: 15px 0;
}

.event-flex .event-item1 {
  background: linear-gradient(0deg, rgba(236, 83, 66, 0.747), rgba(236, 83, 66, 0.733)), url("../images/conference-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 15em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.event-flex .event-item2 {
  background: linear-gradient(0deg, rgba(236, 83, 66, 0.747), rgba(236, 83, 66, 0.733)), url(../images/conference-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 15em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.event-item1 h2 {
  color: white;
  font-size: 35px;
  font-weight: 900;
}

.event-item2 h2 {
  color: white;
  font-size: 35px;
  font-weight: 900;
}

/* Partners logo */

.partner .title {
  color: #7c7c80;
  font-weight: 500;
  font-size: 25px;
  margin-top: 20px;
}

.partner .line {
  width: 50px;
  height: 2px;
  margin: 15px 0;
  background-color: #ec5242;
}

.partner {
  width: 100%;
  height: 40vh;
  background-color: #272a31;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 25px auto;
  column-gap: 30px;
  row-gap: 20px;
}

.logo-img {
  max-width: 80px;
  max-height: 30px;
}

.featured-mentor-section {
  display: none;
}

/* footer */

.footer-flex {
  background-color: #272a31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px;
  min-height: 7em;
  column-gap: 20px;
}

.logo span {
  font-family: "COCOGOOSE", sans-serif;
  color: #ec5242;
  font-size: 22px;
}

/* Event Agenda */

.event-catalogue {
  text-align: center;
  padding: 0.5rem 0;
}

.event-catalogue .title {
  padding: 0.5rem;
  font-size: 30px;
  font-weight: bolder;
}

.event-catalogue .venue-title {
  font-size: 12px;
  padding: 0.5rem 4rem;
  line-height: 20px;
}

.event-catalogue .sub-title {
  line-height: 22px;
}

.event-catalogue .date-title {
  font-weight: bold;
  color: red;
}

.event-container {
  padding: 1.5rem 0.9rem;
}

.event-container .section-title .control .toggle-control {
  font-size: 18px;
  padding: 0.7rem 0 0;
  font-weight: bolder;
  cursor: pointer;
}

.event-container .section-title .control .fa-chevron-right {
  font-size: 20px;
  padding: 0 0.5rem;
}

.event-container .section-title .control .time-content {
  padding: 0.5rem 1.5rem 1rem;
  font-size: 15px;
  font-weight: 400;
}

.event-container .section-title .content-wrapper .content {
  font-size: 16px;
  line-height: 25px;
  padding: 0 1.5rem 1.5rem;
}
.section-title { border-bottom: 1px solid rgb(180, 180, 179); }

.show {
  display: none;
}

/* Media Querie */

@media (min-width: 960px) {
  .toggle-menu .fa-bars {
    display: none;
  }

  /* Header */

  .header {
    padding: 0;
  }

  .header .top-menu {
    background-color: #272a31;
    padding: 3px 175px;
    visibility: visible;
    height: 2.5em;
  }

  .nav .menu-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .menu-desktop li {
    margin: 0 8px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #344563;
  }

  .menu-desktop li .active {
    color: #ec5242;
  }

  .top-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    column-gap: 15px;
  }

  .header .top-bar {
    background-color: #272a31;
    padding: 8px 175px;
    height: 2.5em;
    display: block;
  }

  .top-bar .fa-twitter,
  .fa-facebook-f {
    color: white;
    font-size: 14px;
  }

  .top-bar a {
    color: white;
    font-size: 14px;
  }

  .btn-menu,
  .btn-close {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 20px 170px;
    box-shadow: 5px 5px 50px #aaa;
  }

  .footer-flex a {
    color: white;
  }

  .nav ul li:last-child a {
    border: 3px solid #ec5242;
    padding: 10px;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav .logo {
    display: block;
  }

  .logo img {
    width: 12rem;
  }

  .logo span {
    font-family: "COCOGOOSE", sans-serif;
    color: #ec5242;
    font-size: 22px;
  }

  /* Hero Section */

  .hero-section {
    height: 50vh;
  }

  .hero-section .hero-header h1 {
    color: white;
    font-size: 28px;
    font-family: "COCOGOOSE", sans-serif;
    line-height: 43px;
    text-align: center;
    margin-top: 3rem;
    padding: 1em 12em 0 10em;
    text-transform: uppercase;
  }

  .hero-description {
    text-align: center;
    padding: 20px;
    margin: 0 20em;
  }

  .hero-description p {
    font-size: 18px !important;
    padding: 10px !important;
    line-height: 30px !important;
  }

  .contact {
    padding: 30px;
  }

  .info .title {
    font-size: 25px;
  }

  .info .mission-wrapper {
    text-align: center;
    padding: 5px;
    margin: 3em 20em;
    opacity: 0.7;
  }

  .about-us {
    padding: 15px 170px;
    line-height: 27px;
  }

  .about-us .title {
    font-weight: bold;
    padding: 0.7rem 0;
  }

  .footer-flex p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    color: white;
    text-align: left;
  }

  .info .mission-wrapper p {
    font-size: 18px;
    line-height: 30px;
  }

  .past-event {
    padding: 15px 170px;
  }

  .past-event .title {
    font-size: 25px;
  }

  .past-event .desc {
    font-size: 15px;
    line-height: 30px;
    padding: 0.8rem 0;
  }

  .past-event .date-event,
  .time-event,
  .venue {
    padding: 0.5rem 0;
  }

  .past-event .agenda {
    padding: 0.5rem 0;
  }

  .past-event .event-flex {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin: 0 15em;
  }

  /* mentor section */

  .featured-mentor-section {
    display: none;
  }

  /* partner */

  .partner {
    display: none;
  }

  /* footer */

  footer {
    display: block;
    background-color: #272a31;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
  }

  .footer-flex {
    background-color: #272a31;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    min-height: 7em;
    column-gap: 50px;
    margin: 0 15em;
  }

  .footer-flex img {
    height: 5em;
    display: block;
  }

  .footer-flex .logo h2 {
    color: white;
  }

  .footer-logo {
    display: block;
  }

  /* table */

  #customers {
    margin: 1.5rem 0;
  }

  #customers .time {
    width: 15%;
  }

  #customers .topic .response {
    width: 50%;
  }

  #customers tr {
    line-height: 40px;
  }

  #customers td {
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .footer-logo img {
    width: 20rem;
  }

  .top-bar li {
    color: whitesmoke;
    font-size: 12px;
    padding: 0;
  }

  /* Event Agenda */

  .event-catalogue .title {
    padding: 0.5rem;
    font-size: 35px;
    font-weight: bolder;
  }

  .event-catalogue .venue-title {
    font-size: 18px;
    padding: 0.5rem 4rem;
    line-height: 20px;
  }

  .event-catalogue .sub-title {
    line-height: 25px;
    font-size: 18px;
  }

  .event-catalogue .date-title {
    font-size: 15px;
    font-weight: bold;
  }

  .event-container {
    padding: 1.5rem 10rem;
  }

  .event-container .section-title .control .toggle-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .event-container .section-title .control .fa-chevron-right {
    font-size: 20px;
    padding: 0 1rem;
  }

  .event-container .section-title .control .time-content {
    padding: 1.5rem 1.5rem 1rem;
    font-size: 15px;
    font-weight: 400;
  }

  .top-bar li .fa-linkedin-in, .fa-youtube{
    color: white;
  }
}
