@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #272a31;
  text-decoration: none;
  list-style-type: none;
}

/* Header section */

.header {
  padding: 10px 25px 50px 25px;
  height: 0;
}

/* Hero Section */
.top-bar {
  display: none;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/partners/event-image.PNG") no-repeat center center;
  background-color: #4e4d4d;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 25px 0 25px;
  position: relative;
  height: 23em;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 80% !important;
  height: 0;
}

.hero-section .hero-description .hero-title {
  color: white;
  font-size: 22px;
  font-family: "COCOGOOSE", sans-serif;
  text-transform: uppercase;
}

.hero-section .hero-header .theme {
  margin: 0;
  color: white;
  padding: 0.5em 0;
  font-size: 15px;
}

.hero-section .hero-description .tag {
  margin: 0.5em 0;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

/* counter */
.attendee_count {
  background: #1b3a4c;
  padding: 2em 0;
}

.attendee_count .counter_grid {
  display: flex;
  justify-content: center;
  gap: 1.2em;
}

.counter_grid .counter-list {
  text-align: center;
}

.attendee_count h2 {
  font-size: 30px;
  color: white;
  font-weight: bolder;
}

.attendee_count p {
  font-size: 15px;
  text-align: center;
  color: white;
}

/* mobile menu */

.menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(204, 203, 203);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.menu-bar li {
  padding: 20px 0;
}

.menu-bar .nav-link {
  font-size: 20px;
  padding: 0 30px;
  color: black;
}

.hidden {
  display: none;
}

.nav .menu-desktop {
  display: none;
}

/* logo */

.nav .logo {
  display: none;
}

.menu-bar .logo-mobile {
  color: white;
  position: absolute;
  left: 145px;
  top: 50px;
}

.logo-mobile img {
  width: 10rem;
}

.logo-mobile h2 {
  color: white;
}

.attendee_count .twitter {
  display: none;
}

.logo-mobile span {
  color: #ec5242;
}

.toggle-menu .fa-bars {
  position: absolute;
  right: 15px;
  font-size: 30px;
  color: #272a31;
}

.fa-window-close {
  display: block;
  width: 50px;
  align-self: flex-end;
  font-size: 40px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 0.5em;
  color: black;
  cursor: pointer;
  z-index: 1;
}

.program-section-items p {
  font-size: 18px;
  padding: 10px 8px;
  color: white;
}

.inner-div p {
  font-size: 20px;
  padding: 20px;
  color: white;
}

.program-section img {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  margin: 1.5em auto;
}

.find-dev {
  font-size: 18px;
  text-transform: capitalize;
  line-height: 38px;
}

.find-dev button {
  padding: 15px;
  margin: 2.5rem 0;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: 1px solid white;
  background-color: #ec5242;
  color: white;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  bottom: 3rem;
}

/* Program Section */

.program-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.603)),
    url("../images/bg-image.jpg");
  padding: 0 0 30px 0;
  height: 113vh;
}

.program-section iframe {
  width: 20em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.program-section h2 {
  text-align: center;
  color: white;
  padding: 30px 30px 20px 30px;
}

.program-section .line {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #ec5242;
}

.program-grid {
  padding-top: 20px;
}

.program-section-items {
  background-color: rgba(255, 255, 255, 0.13);
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 10px;
}

.program-section-items img {
  height: 3em;
  margin-left: 10px;
}

.program-section-items h3 {
  color: #ec5242;
  font-size: 20px;
  font-weight: bold;
}

.inner-div {
  background-color: #ec5242;
  text-align: center;
  margin: 40px 30px 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.inner-div2 {
  display: none;
}

/* Mentor Sector */

.featured-mentor-section {
  background-color: white;
  padding: 15px;
}

.featured-mentor-section h2 {
  font-size: 25px;
  text-align: center;
  padding: 15px;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.featured-mentor-section .line {
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background-color: #ec5242;
}

.img-wrapper {
  position: relative;
}

.img-wrapper .img-draught {
  height: 7em;
  width: 6em;
  position: absolute;
}

.img-wrapper .img-speaker {
  position: absolute;
  width: 7em;
  height: 10em;
  left: 15px;
  top: 15px;
  object-fit: cover;
}

.featured-mentor-section
  .mentors-grid
  .mentors-grid-items
  .grid-items-speakers {
  display: flex;
  column-gap: 9em;
  margin: 1rem 0;
}

.featured-mentor-section .mentors-grid .mentors-grid-items {
  display: none;
}

.featured-mentor-section .mentors-grid .mentors-grid-items:nth-child(1),
.featured-mentor-section .mentors-grid .mentors-grid-items:nth-child(2),
.featured-mentor-section .mentors-grid .mentors-grid-items:nth-child(3),
.featured-mentor-section .mentors-grid .mentors-grid-items:nth-child(4) {
  display: inline-block;
}

.featured-mentor-section .mentors-grid .mentors-grid-items:nth-child(2),
.featured-mentor-section .mentors-grid .mentors-grid-items:nth-child(3),
.featured-mentor-section .mentors-grid .mentors-grid-items:nth-child(4),
.featured-mentor-section .mentors-grid .mentors-grid-items:nth-child(6) {
  margin-bottom: 1.8em;
}

.mentor-profile h3 {
  font-size: 20px;
  padding: 0 0 10px 0;
}

.mentor-profile .line {
  width: 30px;
  height: 2px;
  margin: 10px 0;
  background-color: #797777;
}

.mentor-profile .profile {
  font-size: 13px;
  color: #ec5242;
  font-style: italic;
  line-height: 20px;
}

.mentor-profile .works {
  font-size: 15px;
  line-height: 22px;
}

.mentor-profile h4 a {
  font-size: 15px;
  margin: 1rem 0;
  color: red;
  font-weight: lighter;
  cursor: pointer;
}

.see-more {
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #ec5242;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.see-more .fa-chevron-down {
  color: #ec5242;
  font-size: 20px;
  margin: 10px;
}

/* partner */

.partner {
  display: none;
}

footer {
  display: none;
}

/* ===============================Media Querie =========================== */

@media (min-width: 960px) {
  .toggle-menu .fa-bars {
    display: none;
  }

  /* Header */

  .header {
    padding: 0;
  }

  .nav .menu-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .menu-desktop li {
    margin: 0 8px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #344563;
  }

  .menu-desktop li .active {
    color: #ec5242;
  }

  .top-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    column-gap: 15px;
  }

  .header .top-bar {
    background-color: #272a31;
    padding: 8px 175px;
    height: 2.5em;
    display: block;
  }

  .top-bar .fa-twitter,
  .fa-facebook-f {
    color: white;
    font-size: 14px;
  }

  .top-bar a {
    color: white;
    font-size: 14px;
  }

  .btn-menu,
  .btn-close {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 10px 170px;
    box-shadow: 5px 5px 50px #aaa;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav .logo {
    display: block;
  }

  .logo img {
    width: 12rem;
  }

  .inner-div2 a {
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .nav ul li:last-child button {
    border: 3px solid #ec5242;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
  }

  /* Hero Section */

  .hero-section {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7.5em;
    padding-bottom: 10em;
    background-color: #666d7e;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-section .hero-header .theme {
    font-size: 1.5rem;
    line-height: 65px;
    padding: 50px 0 0 150px;
  }

  .particles-js-canvas-el {
    width: 98% !important;
    height: 100% !important;
  }

  .hero-section .hero-description {
    margin: 0 150px;
    width: 35em;
  }

  .hero-section .hero-description .tag {
    font-size: 30px;
    color: white;
    padding: 0;
    margin: 0;
  }

  .hero-section .hero-description .hero-title {
    font-size: 40px;
    width: 50rem;
    line-height: 52px;
  }

  .footer-flex p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #313030;
  }

  .attendee_count p {
    font-size: 15px;
    text-align: center;
    color: white;
  }

  .find-dev {
    margin: 25px 0 0 150px;
  }

  /* Program Section */

  .program-section {
    padding: 0 10rem;
    height: 30rem;
  }

  .program-section .bar-code-inner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .program-section h2 {
    padding-top: 50px;
  }

  .program-section-items p {
    font-size: 13px;
    line-height: 25px;
    padding: 10px;
  }

  .program-section .stream {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .program-section iframe {
    width: 40em;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .program-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 8px;
    margin: 35px;
  }

  .program-grid img {
    font-size: 0.8em;
    margin: 15px;
  }

  .program-grid .program-section-items {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 15px;
    text-align: center;
    width: 15vw;
    height: 40vh;
  }

  .program-grid .program-section-items:hover {
    border: 1px solid white;
  }

  .inner-div2 {
    text-align: center;
    margin-bottom: 3em;
    display: block;
  }

  /* counter */
  .attendee_count {
    padding: 2em 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .attendee_count .counter_grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;

    /* gap: 5em; */
    border: 4px solid white;
    margin: 0 15em;
  }

  .attendee_count .twitter {
    position: fixed;
    right: 0;
    width: 10rem;
    height: 3.5rem;
    bottom: 15rem;
    z-index: 1;
    background: white;
    transform: rotate(360deg);
    padding: 0.7rem;
  }

  .attendee_count .twitter p {
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 1rem;
    color: black;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-top: 0.3rem;
  }

  .attendee_count .twitter .fa-solid {
    font-size: 2rem;
  }

  .counter_grid .counter-list {
    margin: 0.5em 0;
    padding: 0 1.5em;
  }

  .attendee_count .counter_grid h2 {
    font-size: 55px;
    color: white;
    font-weight: bolder;
  }

  /* Mentor Section */

  .mentors-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 20px;
    margin: 40px 10em;
  }

  /* Partners */

  .partner .title {
    color: #7c7c80;
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
  }

  .partner .line {
    width: 50px;
    height: 2px;
    margin: 20px 0;
    background-color: #ec5242;
  }

  .partner {
    width: 100%;
    height: 45vh;
    background-color: #272a31;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    column-gap: 30px;
    z-index: 0;
  }

  .logo-img {
    width: 280px;
    height: 150px;
    object-fit: cover;
  }

  /* See more nutton */

  .featured-mentor-section {
    height: 100%;
  }

  .featured-mentor-section .mentors-grid .mentors-grid-items:nth-child(3),
  .featured-mentor-section .mentors-grid .mentors-grid-items:nth-child(4) {
    margin-bottom: 5.8em;
  }

  .see-more {
    width: 20rem;
  }

  /* footer */

  footer {
    display: block;
    background-color: #d3d3d3;
  }

  .footer-logo {
    display: flex;
  }

  .footer-logo img {
    width: 20rem;
    display: flex;
  }

  .footer-flex {
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    min-height: 7em;
    column-gap: 50px;
    margin: 0 15em;
  }

  .footer-flex img {
    height: 5em;
  }

  .top-bar li {
    color: whitesmoke;
    font-size: 12px;
    padding: 0;

  }

  .top-bar li .fa-linkedin-in, .fa-youtube{
    color: white;
  }
}
